.trello-img {
    border-radius: 50%;
    padding: 1rem;
    font-size: 5rem;
}

.todo-img {

    color: #c89506;
    background-color: #f6f5a9;
}

.in-progress-img {
    color: #0F5FC2;
    background-color: #CAF1FF;
}

.completed-img {
    color: #00AA11;
    background-color: #D3FFE7;
}