/* let email vertification align with get code */
.get-code-btn {
    margin-left: 10px;
    margin-bottom: 10px;
    height: 45px;
    width: 100px;
}

.input-container {
    display: flex;
    align-items: center;
}

.content {
    position: relative;
    top: 50px;
}

