* {
    margin: 0;
    padding: 9;
    max-height: 630px;
}
.input {
    position: relative;
    top: 40px;
    min-width: 200px;
}
.log-in-img {
    /* width: 767px;
    height: 1000px; */
    max-width: 100%;
    max-height: 100vh;
    min-width: 90%;
    min-height: auto;
    overflow: hidden;

}
.fix {
    display: grid;
    height: 100%;
   
}
.loginTitle1 {
    color: "#111111";
    font-size: 45px;
    font-family: "Poppins";
    font-weight: 900;
    width: 410px;
    word-wrap: "break-word";
    text-align: left;
    position: relative;
    top: 30px;
}

@media (max-width: 1200px) {
    .loginTitle1 {
        font-size: 40px;
    }
    .loginTitle2 {
        font-size: 32px;
    }
}

.loginTitle2 {
    font-size: 40px;
    font-weight:normal;
}



.login {
    position: absolute;
    top: 5px;
    color: white;
    outline: none;
}
.forgot-pass {
    position: absolute;
    top: 50px;
}

.new-acc {
    position: relative;
    top: 200px;
}

.sign-up {
    position: relative;
    left: 15px;
}
