/* authentication */
.authentication-container {
    position: relative;
    top: 50px;
    display: flex;
    align-items: flex-start;
}

.align-text-center {
    display: flex;
    align-items: flex-start;
    margin-top: 2px;
}

.authentication-text{
    /* position: relative;
    left: 10px; */
    font-size: 15px;
    margin-left: 10px;
    
}

/* authentication button */

.form-check-input {
    width: 15px; 
    height: 15px; 
}

.butt-position {
    position: relative;
    top: 60px;
}

/* reponsive to change authentication font-size */
@media (max-width: 1200px) {
    .authentication-text{
        /* position: relative;
        left: 10px; */
        font-size: 10px;
        margin-left: 10px;
    }
    .form-check-input {
        width: 10px; 
        height: 10px; 
    }
}

.already-acc {
    position: relative;
    top: 100px;
}

