.input-margin {
    margin-bottom: 20px;

}

.input-form-group {
    display: flex;
    align-items: center;
}

.input-box-size {
    min-width: 200px;
}
 /* reponsive to change input font-size */
/* @media (max-width: 1200px) {
    .input-font {
        font-size: 0.8rem;
    }
} */


